{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <img 
    src="{% if fear.photo.url %}
    {{ fear.photo.url }}
    {% else %}{% static 'images/Skull.png' %}
    {% endif %}" alt="{{ fear.name }} image"
  >
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
