{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fears/fear-delete.css' %}" />
{% endblock %}

{% block content %}

<div class="fear-delete-container">
  <div class="delete-header">
    <h2>Are you sure you want to delete {{ fear.name }}?</h2>
  </div>
  <div class="img-container">
    {% if fear.photo.url %}
      <img src="{{fear.photo.url}}" alt="{{ fear.name }} image">
    {% else %}
      <img src="{% static 'images/Skull.png' %}" alt="Skull.png">
    {% endif %}
  </div>
  <form action="" method="post" class="delete-form">
    {% csrf_token %}
    <a 
      href="{% url 'fear-detail' fear.id %}" 
      class="btn secondary"
    >
      Cancel
    </a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
</div>

{% endblock %}