{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fears/fear-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="fear-container">
  <div class="fear-details">
    <div class="img-container">
      <img 
      src="{% if fear.photo.url %}
      {{ fear.photo.url }}
      {% else %}{% static 'images/Skull.png' %}
      {% endif %}" alt="{{ fear.name }} image"
      >
    </div>
    <div class="text-container">
      <h1>{{ fear.name }}</h1>
      <p>{{ fear.description }}</p>
      {% if fear.conquered %}
        <p>This fear has been conquered.</p>
      {% else %}
        <p>This fear has not yet been conquered.</p>
      {% endif %}
      <div class="fear-actions">
        <a href="{% url 'fear-update' fear.id %}" class="btn warn">Edit</a>
        <a href="{% url 'fear-delete' fear.id %}" class="btn danger">Delete</a>
      </div>
    </div>
  </div>
</section>
<div class="add-photo">
  <h3>Change {{ fear.name }}'s photo</h3>
  <p id="file-name"></p>
  <form 
    action="{% url 'add-photo' fear.id %}"
    enctype="multipart/form-data"
    method="POST"
  >
    {% csrf_token %}
    <label class="btn secondary">
      Choose photo
      <input type="file" name="photo-file" id="file-input">
    </label>
    <button type="submit" class="btn submit">Upload Photo</button>
  </form>
</div>

{% endblock %}
