{% extends 'base.html' %}

{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fears/fear-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="card-container">
  {% for fear in fears %}
    <div class="card">
      <div class="img-container">
        <img 
        src="{% if fear.photo.url %}
        {{ fear.photo.url }}
        {% else %}{% static 'images/Skull.png' %}
        {% endif %}" alt="{{ fear.name }} image"
        >
      </div>
      <a href="/fears/{{ fear.id }}">
        <div class="card-content">
          <h2 class="card-title">{{ fear.name }}</h2>
          <p><small>{{ fear.description }}</small></p>
        </div>
      </a>
    </div>
  {% empty %}
  <div class="fear-msg">
    <h1>A journey of courage begins here. Ready to list down your fears?</h1>
  </div>
  {% endfor %}
</section>

{% endblock %}
