{% extends 'base.html' %}

{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fears/fear-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="card-container">
  {% for fear in fears %}
    <div class="card">
      <a href="/fears/{{ fear.id }}">
        <div class="card-content">
          <h2 class="card-title">{{ fear.name }}</h2>
          <p><small>{{ fear.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}