{% extends 'base.html' %}

{% block content %}

<div class="about-page">
  <h1>About the PanicRoom</h1>
  <p class="page-content">
    PanicRoom is an innovative application designed to empower individuals to overcome fears. Serving as a personal fear tracker, it provides a safe and secure platform where users can log, monitor, and analyze their fears. Whether you're making strides towards conquering a particular fear or still grappling with it, Panic Room is here to chart your progress and offer support. An integral feature of our application is implementing the therapeutic tool known as "flooding." Renowned for its effectiveness in exposure therapy, flooding immerses individuals in the memories or stimuli related to their fears, fostering familiarity, resilience, and, eventually, desensitization. By integrating this technique within our app, we aim to make this potent tool accessible for those seeking to face their fears head-on. Panic Room is not just an app; it's a brave step towards fearlessness.
  </p>
</div>

{% endblock %}