{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<div class="home-page">
  <div class="image-container">
    <img 
    src="{% static 'images/PanicRoom-02.png' %}" 
    alt="Text reads: PanicRoom"
    />
  </div>
  <section>
    <form action="" method="post" class="login" autocomplete="off">
      <h1>Sign Up</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn submit">Sign Up</button>
    </form>
  </section>
</div>

{% endblock %}
