.fear-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.fear-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px;
  border: var(--borders);
  padding: 10px;
}

.fear-details .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fear-details .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.fear-details .img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.fear-actions {
  margin-top: 20px;
}

.add-photo {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.add-photo h3 {
  margin-bottom: 15px;
  color: white;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .fear-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .fear-details .img-container {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }
}